 body.Home {
            font-family: Helvetica, sans-serif;
            margin: 0;
            background-image: url("https://media.tenor.com/3kRFMnYOMc0AAAAd/lil-yachty.gif");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 105vh;
            overflow: hidden;
        }

        .header {
            background-color: rgba(51, 51, 51, 0);
            padding: 20px;
            text-align: center;
        }

        h1 img {
            max-width: 100px;
            height: auto;
            margin-right: auto;
            text-align: center;
        }

        .navbar {
            background-color: rgba(51, 51, 51, 0.8);
            text-align: center;
            padding: 15px;
            margin: auto;
        }

        .navbar ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            text-align: center;
        }

        .navbar li {
            display: inline-block;
            text-align: center;
        }

        .navbar a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-family: Helvetica;
            font-weight: bold;
        }

        .navbar a:hover {
            background-color: #111;
        }

        .dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            text-align: left; /* Adjusted to left-align dropdown content */
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            display: block;
            text-decoration: none;
            text-align: center;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
        p {
            font-family: Helvetica;
            font-weight: Bold;
        }

        .thumbnail-container {
        display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 150px;
            max-width: 100%;
            height: 150px;
            max-height: 100%;
            overflow: hidden;
            margin: auto;
    }

    .thumbnail {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 1.5em;
      text-align: center;
      text-decoration: none;
    }



        body.ME {
            background-color: #ddd
        }
